<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Compressor - Compress Images Online</title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="Image Compressor - Compress Images Online">
    <meta name="description"
        content="Compress your images online quickly and easily with Image Compressor. Reduce file sizes while maintaining quality.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://compressor.megalogic.id">
    <meta property="og:title" content="Image Compressor - Compress Images Online">
    <meta property="og:description"
        content="Compress your images online quickly and easily with Image Compressor. Reduce file sizes while maintaining quality.">
    <meta property="og:image" content="https://compressor.megalogic.id/static/banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://compressor.megalogic.id">
    <meta property="twitter:title" content="Image Compressor - Compress Images Online">
    <meta property="twitter:description"
        content="Compress your images online quickly and easily with Image Compressor. Reduce file sizes while maintaining quality.">
    <meta property="twitter:image" content="https://compressor.megalogic.id/static/banner.png">

    <script src="https://cdn.tailwindcss.com"></script>
</head>